# Node modules
node_modules

# Build directory
build

# Logs
*.log

# 환경 변수 파일
.env
.env.*

# Docker 관련
Dockerfile
docker-compose.*

# 기타
coverage
.cache
.git

# React specific
.vscode
.idea
.history
